body {
    max-width: 210px;
    padding: 10px;
    color: #eee;
    border: 1px solid #fff;
    background-color: #101020;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 5px;
    text-align: center;
}

label {
    user-select: none;

}

.sites label {
    margin: 5px 0;
    display: inline-block;
    cursor: pointer;
}

input[type="text"], button {
    width: 80%;
    border: none;
    outline: none;
    display: block;
    padding: 5px 8px;
    margin: 10px auto;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    cursor: pointer;
}

.err {
    color: crimson;
    font-size: 13px;
}

.res {
    color: rgb(63, 224, 108);
    font-size: 13px;
}

#stop-Interval {
    background: #df5e47;
}

.options {
    font-size: 12px;
    margin: 10px 0;
}

.options input[type=number] {
    border: navajowhite;
    margin: 0 6px;
    text-align: center;
    outline: none;
}

#taken  {
    color: #eee;
    background-color: #93141b;
}
#taken:hover  {
    background-color: #ac1d24;
}
